@import '~bootstrap/scss/bootstrap';

@import 'index.scss';
@import 'show.scss';
@import 'user.scss';
@import 'home.scss';
@import 'dashboard.scss';
@import 'payments.scss';
@import 'messages.scss';

body {
    visibility: visible;
    background-color: #e8e8e8;
    font-family: "Urbanist", sans-serif;
    background: #f8f8f8;
    background: -webkit-linear-gradient(0deg, #f8f8f8 0%, #5c6cc7 50%, #f8f8f8 100%);
    background: linear-gradient(0deg, #f8f8f8 0%, #5c6cc7 50%, #f8f8f8 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.brand-color {
    color: #172BA1;
}