@import '~bootstrap/scss/bootstrap';

@import 'index.scss';
@import 'show.scss';
@import 'user.scss';
@import 'home.scss';
@import 'dashboard.scss';
@import 'payments.scss';
@import 'messages.scss';

body {
    visibility: visible;
    background-color: #e8e8e8;
    font-family: "Urbanist", sans-serif;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(162, 168, 198, 1) 100%);
}

.brand-color {
    color: #172BA1;
}