ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img-box {
    width: 250px;
    height: 180px;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-bg-bool {
    background-color: #172BA1;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

//* FORM CHECKBOX

/* Hide the default checkbox */
.check-container input {
    display: none;
}

.check-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.2em;
    width: 1.2em;
    background-color: #2196F300;
    border-radius: 0.25em;
    transition: all 0.25s;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 0.1em solid black;
    left: 0;
    top: 0;
    width: 1.05em;
    height: 1.05em;
    border-radius: 0.25em;
    transition: all 0.25s, border-width 0.1s;
}

/* Show the checkmark when checked */
.check-container input:checked~.checkmark:after {
    left: 0.46em;
    top: 0.25em;
    width: 0.3em;
    height: 0.5em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}


//* SERVICES BUTTON
#services_button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 28px;
    height: 28px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
}

#services_button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

#services_button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

#services_button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


//* TOGGLE PUBBLICAZIONE
/* Genel stil */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
    display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: red;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked+.toggle-label {
    background-color: #4caf50;
}

.toggle-switch .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
    background-color: #bebebe;
}

.toggle-switch.light .toggle-input:checked+.toggle-label {
    background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked+.toggle-label::before {
    transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
    background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label {
    background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}


//* TRASH BUTTON
.btn-trash {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgb(215, 15, 15) 0%, rgb(247, 102, 102) 100%);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .4s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: .4s;
}

.svgIcon path {
    fill: white;
}

.btn-trash:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .4s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.btn-trash:hover .svgIcon {
    width: 50px;
    transition-duration: .4s;
    transform: translateY(60%);
}

.btn-trash::before {
    position: absolute;
    top: -25px;
    content: "Cestino";
    color: white;
    transition-duration: .4s;
    font-size: 2px;
}

.btn-trash:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .4s;
}

//* CREATE BUTTON
.cssbuttons-io-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    padding: 1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
    border: none;
    border-radius: 50%;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

// MESSAGES BUTTON
.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    height: 28px;
    width: 100px;
    border: none;
    background: #056bfae0;
    border-radius: 20px;
    cursor: pointer;
}

.lable {
    line-height: 20px;
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.messages:hover {
    background: #056DFA;
}

.messages:hover .svg-icon {
    animation: msg 2s linear infinite;
}

@keyframes msg {
    0% {
        transform: translate(0, 0) scale(1);
    }

    15% {
        transform: translateX(1px);
    }

    30% {
        transform: scale(1.1);
    }

    45% {
        transform: translateY(1px);
    }

    60% {
        transform: translateY(0px);
    }

    75% {
        transform: scale(1);
    }

    90% {
        transform: translateX(-px);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

// BOTTONE SPONSORIZZAZIONI
.btn-premium {
    width: 180px;
    height: 28px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.8em;
    color: rgb(121, 103, 3);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition-duration: 3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    background-size: 200% 200%;
    text-decoration: none;
}

.logoIcon path {
    fill: rgb(121, 103, 3);
}

.btn-premium:hover {
    transform: scale(0.95);
    transition-duration: 3s;
    animation: gradient 5s ease infinite;
    background-position: right;
}


//BOTTONE STATISTICHE
.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.learn-more {
    width: 11rem;
    height: auto;
}

.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #172ba1;
    border-radius: 1.625rem;
}

.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #172ba1;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.learn-more:hover .circle {
    width: 100%;
}

.learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
    color: #fff;
}

.fas {
    color: #172ba1;
}