.bottom-border {
    border-bottom: 1px #172BA1 solid;
}

#eye-catcher img {
    object-fit: cover;
}

// #eye-catcher img,
#eye-catcher div {
    overflow: hidden;
    max-height: 384px;
}

#details li,
#services li {
    margin-bottom: 1rem;

    span {
        background-color: white;
        padding: 0.5rem 1rem;
        border-radius: 25px;
    }

}